{% extends "layout.html" %}

{% block title %}Register Student{% endblock %}

{% block content %}
	Please fill out the following information:<br>
	<form method = "POST">
		Name: <input type = "text" name = "name" required><br>
		Roll Number: <input type = "text" name = "roll_number" required><br>
		Phone Number: <input type = "text" name = "phone_number" required><br>
		Password: <input type = "password" name = "password" required><br>
		<input type = "submit" value = "Submit">
	</form>
{% endblock %}
